@model WebAuslink.Models.Client

@{
    ViewData["Title"] = "Edit";
}

<h1>Change Status</h1>

<hr />
<div class="container">   
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOnHoldStatus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ClientCompanyName" class="control-label"></label>
                <input asp-for="ClientCompanyName" class="form-control" readonly />
                <span asp-validation-for="ClientCompanyName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label>

                    <input class="form-check-input" asp-for="IfAccountIsOnHold" />Account Status (Tick if on hold)
                </label>
            </div>







            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div></div>

<div class="container">
    <a asp-action="Index_on_hold_status">Back to List</a>
</div>

