<div class="container-fluid">

<h1>Internal Training SOP - Auslink Warehouse Management System (AWMS)</h1>

Logic of this WMS by steps:
Purchase order is basically an order from client that tell us how many
of what products will come to our warehouse. With a purchase order,
we know the details of their inbound products. Purchase order should
be completed no later than the time cargo arrive.
Auslink will carry out stocking taking upon arrival of cargo, to verify
the purchase order, sometimes the manufacturers do send wrong
products or right products with wrong amount.
Auslink will notify client if any issue, make adjustment if necessary.
Once the purchase order is verified by Auslink, it means the stock is
accurately recorded in the system and they are available for
distribution.
Client can then create sales orders for each client who place order to
buy your products. Each sales order contains information detailing
how many of what products will be send to who at what address. Or if
they want to pick up from Auslink.
Once new sales order appears, Auslink will pick and pack the
products within a time frame either for your customers to pick up or
we will send them according to per instruction on sales order.
If products are to be picked up from Auslink warehouse, we will get
client’s customer to sign a pickup sheet for record if any issue arise in
the future.
If products are shipped away, client can notify us if shipment did not
arrive within the expected period of time, we can provide a tracking
number for them.
It is normally client’s responsibility to make both SO(sales order)
and PO(Purchase order). However, we can also do this at client’s
cost

AWMS Operation manual

Log In
Please visit www.auslink.co.nz, click LOGIN on the right hand side top
corner on the front page.
Use the Username and password provided to enter system.

If any issue for username and password, please contact Brown by email
warehouse@auslink.co.nz / 021 907879

Create Purchase order - Before inbound goods arrive.
Purchase order let us know the details of client’s products that coming to
us. It contains information like product name, SUK and total amount of this
product which will be delivered to our warehouse for storage and
distribution. Either client or us can enter the data to complete the purchase
order.
Important: Purchase is recommended to be entered and approved 1-2
days before cargo arrives. And if we need to enter the purchase order, we
need to ensure we have files this accurately before we receive the
products. Fail to do so might either cause confusion or products put away
being delayed. Purchase is recommended to be made and approved 1-2
days before cargo arrives.
Purchase order can be created in 2 different ways.
Manual input, suitable for enter purchase with less SKUs.
Bulk Load, suitable for enter purchase order with many SKUs or
having a packing list in hand.

Manual Input
On top of the screen, Either Click ‘+Quick Add’ button and select
“New Purchase Order’
OR
Click ‘Warehouse’ and select ‘Purchase orders’ and on the left of
the screen, click the green button of “+Add Purchase Order”
Either action will take you to the new page of ‘Add a New Purchase
Order’
You now need to file following information:
‘Arrival Date’ (When inbound product will arrive)
“Customer Reference”
(Customer reference needs to be an unique code. For goods
unpacked from a container in our yard, please use container number.
If different client’s goods are all from one container, use -1 ,-2 after
container number to separate. If it was delivered to us as LCL, please

use consignment number followed by carrier name. Eg, FW1245993
Mainfreight. )
‘Special Instruction’ (Information we need to know for receiving
cargo, etc, how many pallets we are expecting, any dangerous
goods.)

You can now click ‘Save’ button to save it. And you now will
automatically jump to page ’View Purchase order’ . on The LHS
middle of the screen, you will see something like this.
As per image, the Purchase order is 330.

Now you can click ‘products’ , clicking ‘+Add products’. You can
enter the product name or SKU number and select the product for the
products you had in the system before and then enter quantity. If
your new product was not in our system before, you need to create a
new product by clicking ‘+Add products’. . Click ‘Create’ And then
enter QTY(quantity) , don’t worry about Expiry Date unless it has one.
Eg. Food. At the end, click save.
Last step is to check make sure all the information is correct, once
you have checked, please click APPROVE.
A Purchase order is now completed.
Bulk Load using ‘Parse a file’
Click ‘Parse a file’ and chose from ‘File Type ‘
You can then follow the instruction, download the template and file
the database and then upload back again.
You can also make Sales order and import product with this function.

Receive Purchase Order - On arrival of Inbound goods
On Details page of Purchase Order, Right hand side, click ‘receive’. This
will update the status and send a reminder to client that their cargo is with
Auslink now.

Verify Purchase Order - After arrival of Inbound goods
Carry out stock taking and compare the real counting result with the
products and products amount with ones in this purchase order. Contact
the client and correct the product name, product amount if there is any
thing does not match. Once this is done, click ‘Verify purchase order
products’.
2.Now you need to allocate the products to the correct location. First you
need to split the goods by clicking ‘more’ on the LHS of the page and
select ‘BULK SPLIT.’
3.Enter qty of units per pallet. How many units was there on the pallets?
You can then click’ Bulk split’, the blue button on the RHS bottom.
4.Print the lable and attach to that pallet if any of those pallets do not come
with a proper label on them.
5.Then you need to enter the location where the pallet will go.
6.When every location is entered and all boxes is ticked. A green button ’
Complete Verification’ at bottom of page will appear and you need to click
it.
7. A window will pop and it will ask you what have you done. System need
to know this so it can charge client. Simply enter the number matching the
description. And click ‘finish’.
8. A purchase order is now verified. And all goods are allocated and ready
for pick and pack. The status will now show ‘Allocated’

Create sales Order
Purchase order let us know the details of clients’ sales. For us to prepare
the products, we need to know how many of what products will be sent to
where or will be collected by their customer. It is important that we enter
accurate information.
On top of the screen, Either Click ‘+Quick Add’ button and select
“New Sales Order’
OR

Click ‘Warehouse’ and select ‘Sales orders’ and on the left of the
screen, click the green button of “+Add sales Order”
Entry ‘Reference’ and ‘delivery address’. For ‘reference’, if order is
from Email, write’by mail, date and time’, if it is from a phone call,
write’by phone call by who?’ if it is from a wechat or KAOKA, also
write them. Idea is to record where we received this information and if
there is an issue, we can track it back to the source of information.
For customer who will pick up products from us, in the Delivery
Address, you can just search 8B monier and our Address will turn
up, And tick box for ‘Order will be picked up from Warehouse’. And
click ‘+Add a new address’ if customer wants products to be
delivered.
Then click ‘SAVE’, a Sale order is now created, on the left hand side
top corner, there is your Sale order Number. You can later use this
sale order number(eg,SO2345) to search in the system to find this
order again.
Then you can add products by click ‘Products’ button. Then ‘+Add
product’
You need to find the product first and click ‘Search’ and add quantity
(‘QTY’), this will find you available stock for this products in our
warehouse.
Click ‘Take Stock’ and you now added this amount of this products in
your order, you can repeat this process until all the products in this
order are added.
You can now go back to ‘i Details’, the status is ‘Draft’ in red color.
At this stage, you can still make changes. But once you are sure
everything is correct, you can click ‘Approve for Packing’. The
Status will become APRROVED. Then we can process this order and
get it ready within the time-frame.
Check sales order
Go to sales order page, and select Await pick and pack.

Important Information:

 There are 2 cut off time before we start processing orders each day,
9:00AM and 12:00AM. Orders will be prepared within 4 hours after each cut
off time, which mean order can either be collected after 4 hours or will be
dispatched within 4 hours. Early pick up will be denied. Your order can be
prepared at first priority(normally within 2 hours) if an Urgent Order is place.
However, there are extra charge on the Urgent order.
2. We encourage our clients to use this clever AWMS, it enable the 99.9%
accuracy for your orders. However, We can also receive your orders by
email, phone call or even online chat software like WECHAT, and manually
enter your order into the system. The cost will be $0.25 per SKU for manual
data entry, plus $2.5 for manual order entry. Same charge applies to
manual data entry for new products. Labour rates for other data entry
service will be discussed.
3. Auslink will try to remind your customers to check the products before
they sign on the pickup sheet. Ultimately, it is your responsibility to confirm
with your client so. Auslink logistics hold no responsibility if the products
are found to be damaged after the products are picked up with signature.
By signing the pickup sheets, it means that they are happy with the
condition of goods at the time of pick up.
4. All relevant price / cost is GST exclusive.

Version 1
Date 07 OCT 2019
Author, Brown Liu@Auslink

</div>