<div class="container">
    Purpose of this SOP is to achieve efficiency, quality output and uniformity of
    performance, while reducing miscommunication and failure to comply with
    industry regulations by standardizing the process.
    Regarding to sea containers.

    Operator need to make a purchase order (short for PO) in carton cloud for
    each container which we provide any service to, this includes but not limited
    to cartage, unpacking , ATF and delivery the cargo. No matter whether they
    come to Auslink Yard or not. It helps us to keep a record of containers and it
    will automatically generate invoices and email them to client.
    When making a new PO, select the customer who we will apply charges to. If
    the job is passed from Auslink freight forwarding, you need to double check
    with Auslink forwarding or worksheets to see if they will charge client directly
    for the container cartage, unpacking or delivery. If they had already charged
    the client for it, we will no longer put any charge against this client and you
    need to put this in the special instruction.
    Customer reference should include CN, size,job type, anything you can
    quickly remind user which is which. You can always come back to edit it.
    Eg, MSKU7004092 20GP traffic sign devan+ delivery
    PCIU1082791 20GP cartage+ ATF to Chinese Consule Lagona
    Special instruction will not be seen by client and it is a very good reminder
    when operator come back to confirm the charge. You can record any special
    event, incident or if extra cost occurs.You can always come back to edit it.
    Eg, both 20 ft need to come to Auslink for temp storage and go again after 4
    days. container storage $25/20ft/day and $50/40ft/day
    Charges can be filled at any time operator is free to do so and to be checked
    again once job is completed. All customer charges have been reviewed and
    updated in past 2 weeks (OCT2019) and if operator feel the charge is not
    correct, operator can talk to Daniel any time to confirm. Manually add extra
    charges at the bottom if nothing suitable is listed in the Adhoc charge list. Eg,
    seals- material cost
    Add products if cargo unpacked from this container is to be stored at Auslink.
    Please ALWAYS let me know if new products need to be added as creating a
    new product can be bit tricky sometimes. We might need a discussion each
    time.
    Update PO status to VERIFIED once Job is fully finish and Charges is
    confirmed to be correct. Job is NOT considered to be finished if there is any
    possibility that further cost might occur.
    operator can also create a consignment under this PO number for LCL
    delivery of cargo unpacked from this container if the cargo is to be delivered
    without storage.

    Regarding to inbound and outbound LCL cargo

    WARNING - All inbound LCL or commercial Parcel (Auslink as receiver only)
    without a PL is not accepted. Warning to be issued to whoever unload LCL
    from a carrier without obtaining a PL. Ask delivery driver to return the goods
    or get driver to contact consignor to Email correct PL to
    warehouse@auslink.co.nz before accepting goods. If PL is found to be
    incorrect, please report to me.
    All warehouse staff who receive LCL goods should place PL and
    CONNOTE(if available) on the folder on shelf. Warehouse operator should
    check the inbound cargo and MUST create a new PO using specified
    reference.(please stamp【entered】when entered)
    Products entering warehouse for 3PL service must have accurate stock taking
    process. Open packaging if necessary. Contact consigner at the first place if
    PL does not match cargo arrived.
    Temporary storage for distribution on per job basis can enter the products
    stock according to the PL provided. Please remark: PL not verified, Entered
    as per PL.

    IMPORTANT
    All LCL delivery or parcel MUST have a PO, SO, S000,B000 number entered
    as reference when make the booking ( consignment).
    For parcelport, please fill ‘company’ with reference.
    For Mainchain, StraitNZ, Superfreight, enter SO or PO to sender ref/
    reference.
    For D &amp; Y, Consignment will automatically link SO. If job is for a PO, manually
    enter PO number.
    A receiver’s mobile number MUST be entered when make the booking.
    In rare circumstance, enter the name of the person who enter the job if no PO
    or SO or S or B job number can be linked.

    Regarding to Sales Order

    We must make sure all clients know we equipped with WMS and they should
    get them familiar with this system. Auslink decided to charge clients for
    manual data entry at some point before 1 st Jan 2020. Once we start to charge
    for data entry, our clients will still be able to place an order by Email, Phone,
    wechat, or Kakotalk. However, they will be charged for the manual data entry.
    Following is an example of Email i sent to James earlier.
    Hi james:

    We now introduced our new system to help client to make orders easier and
    more accurate, can you please see attached SOP. You can find instructions
    on how to make sales order.


    We now encourage all of our clients to use it. And Auslink will start to
    charge manual data entry fees at some stage before 1 st  Jan 2020. Please take
    your time to get used to it asap.

    I will manually enter your sales order for you this time.

    Let me know if you have any issues

    More of those Emails will be sent to our clients shortly. Please let me know if
    you having trouble with certain client, i will help them to adapt to the system.
    Order Cut off time will fully apply to all clients before 1 st Jan 2020. SO made
    before 8AM will be available at or after 12AM and SO made before 12AM will
    be available from 4PM. Urgent order shall be treated as priority and should be
    prepared within 2 hours after order received. Any sales order require
    immediate pick up will be considered as Urgent Order.
    For any SO LCL delivery charge or Parcel where standard rates do not apply,
    picker MUST record the actual cost from carrier on the SOPL.
    Other Important Information

    Operator must stamp [entered] on SOPL once charges are confirmed after
    job is completed. You can do this any time during the week. However, all
    SOPL to be checked and stamped before end of the week.
    Currently the procedure of picking and packing:
    SO is to be firstly picked by picker (1st signature), then checked by
    checker(2nd signature) and at last signed by Client if pick up. Please make
    sure you see those signatures.
    NCP TV SO sometimes need dimension measuring before they confirmed the
    order. As per agreement with Lucas, a Draft SO with correct products details
    is to be made first. He then will email the request and he will approve it once
    he has unload the despatch label. Please treat NCP draft SO READ-ONLY.
    Forward Solar/ JA solar require product barcode image once SO is created so
    he can send the information to their client. Please allocate item and send
    barcode image upon request.
    BabyHero’s person in charge agrees to take WMS user training upon return to
    NZ. Please arrange suitable time to give training.
    System will now automatically generate invoices and lock SO and PO each
    Saturday. Please finalize charge confirmation before this timeframe. Invoices
    with error will not be send, please also check invoices and correct error before
    the due time. All extra charges incurred after the invoice lock down, MUST be
    invoiced by Xero at the time of SO charge confirmation.

    Any special picking and packing requirements by inbound Email, please
    forward Email to Bonhee and notify him so he can carry on.
    Regarding to Jobs from Auslink Forwarding

    A work sheets must be made available to warehouse operator at the time of
    passing job. Information shall be checked at the time. Clarify special
    instruction or if warehouse need to charge client directly on cartage,
    unpacking or other relevant service.
    For export jobs, a second person who knows about the job, rather than the
    warehouse operator, MUST be on site to confirm cargo when loading
    container.

    Regarding to consignment for D&amp;Y

    All deliver or pick up jobs for profit that using EYW368 MUST have a
    consignment (CONNOTE). Driver must fill time sheets each day and to be
    checked and archived by warehouse operator at each weekend.

    Version 1 23-10-2019 BROWN LIU

</div>