<div class="container-fluid">
    <h1>Auslink Staff Contact</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Base</th>
                <th scope="col">Department</th>
                <th scope="col">Mobile</th>
                <th scope="col">Land</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td> Daniel Zhang </td>
                <td>Auckland </td>
                <td>Head of Sales </td>
                <td> 279625441</td>
                <td>6499300551 </td>
                <th>daniel@auslink.co.nz</th>
            </tr>
            <tr>

                <td>Joy Zhai  </td>
                <td>Auckland </td>
                <td>Forwarding </td>
                <td>9 930 0553 </td>
                <td> 21 188 8365 </td>
                <th>joy.zhai@auslink.co.nz</th>
            </tr>
            <tr>

                <td>William Zhao </td>
                <td>Auckland </td>
                <td> Forwarding</td>
                <td>6499300552 </td>
                <td>212561380 </td>
                <th>booking@auslink.co.nz</th>
            </tr>
            <tr>

                <td> Dennis Tan</td>
                <td>Auckland </td>
                <td>Head of Warehouse </td>
                <td>6499300557 </td>
                <td> 2108457086</td>
                <th>dennis.tan@auslink.co.nz</th>
            </tr>
            <tr>

                <td>Daniel Wu </td>
                <td>Auckland  </td>
                <td> </td>
                <td> </td>
                <td>0212877550 </td>
                <th></th>
            </tr>
            <tr>

                <td>Bonhee Vera  </td>
                <td>Auckland </td>
                <td> Warehouse</td>
                <td></td>
                <td>0277852912 </td>
                <th></th>
            </tr>
            <tr>

                <td>Woody Lee  </td>
                <td>Auckland </td>
                <td> Warehouse</td>
                <td></td>
                <td>212075206 </td>
                <th></th>
            </tr>
            <tr>

                <td>Brown Liu  </td>
                <td>Auckland </td>
                <td>Warehouse </td>
                <td> </td>
                <td>21907879 </td>
                <th>brown@auslink.co.nz</th>
            </tr>

            <tr>

                <td>Gale Zhang </td>
                <td> Auckland</td>
                <td>Account </td>
                <td> </td>
                <td>(21) 205-0756 </td>
                <th>account@auslink.co.nz</th>
            </tr>
            <tr>

                <td> Jay Paul </td>
                <td>Auckland </td>
                <td>Admin </td>
                <td> </td>
                <td>225251980 </td>
                <th>jaypaul@auslink.co.nz</th>
            </tr>
            <tr>

                <td>Frank </td>
                <td>ChristChurch </td>
                <td>Warehouse </td>
                <td> </td>
                <td>02102575755 </td>
                <th></th>
            </tr>


            <tr>

                <td>Sarah Xu </td>
                <td>ChristChurch  </td>
                <td>Warehouse </td>
                <td>6439749632 </td>
                <td>275258542 </td>
                <th>sarah.xue@auslink.co.nz</th>
            </tr>
            <tr>

                <td>Arvin Liu </td>
                <td>DongGuan China </td>
                <td>Oversea Office</td>
                <td> </td>
                <td>8617604528650 </td>
                <th>arvin0210@outlook.com</th>
            </tr>
        </tbody>
    </table>


</div>