

<div class="container-fluid">
    <h2 class="alert-info"> Daily Check List  </h2>

    <ul>
        <li>All SO finallized </li>
        <li>All PO finallized </li>
        <li>Next day Plan is Done </li>
        <li>All SO finallized </li>
        <li>All SO finallized </li>
        <li>All SO finallized </li>
        <li>All SO finallized </li>
    </ul>

    <a href="#">Raise an issue if Any</a>


    <h2 class="alert-info">Weekly Check List</h2>

    <ul>
        <li>All SO finallized </li>
        <li>All PO finallized </li>
        <li>Next day Plan is Done </li>
        <li>All SO finallized </li>
        <li>All SO finallized </li>
        <li>All SO finallized </li>
        <li>All SO finallized </li>
    </ul>
    <a href="#">Raise an issue if Any</a>
</div>