
@section NavTop
{
    <div>
        <i class="fa fa-ambulance" aria-hidden="true"></i>
        <a asp-controller="IssueBoards" asp-action="Index">Raise an issue if Any</a>
    </div>
}
<div class="container-fluid">
    <div style="margin-bottom:20px">
        <h2 style="text-align:center " class="alert-danger"> Warnings  </h2>
        <table class="table">
            <tbody>
                <tr>

                    <td>Inbound cargo</td>
                    <td><span class="badge badge-danger" style="font-size:large">All cargo must be labelled before finish work if labelling can not be done immediately after arrival.</span></td>
                </tr>
                <tr>

                    <td>Client picks </td>
                    <td> <span class="badge badge-danger" style="font-size:large">No cargo released without Sales Order and signature</span></td>
                </tr>
                <tr>

                    <td>Imported cargo & FAK</td>
                    <td><span class="badge badge-danger" style="font-size:large">Make sure Custom D.O , MPI (BACC) and Auslink SO is available before release.</span></td>
                </tr>
            </tbody>
        </table>



    </div>

    <div style="margin-bottom:20px">
        <h2 style="text-align:center " class="alert-warning"> Daily Check List  </h2>
        <h6>During or at the end of each working day, check if following are completed</h6>
        <table class="table">
            <tbody>
                <tr>

                    <td>Sales Order</td>
                    <td><span class="badge badge-warning" style="font-size:large">Check and print jobs once each hour. Notify staff about new jobs.  </span></td>
                </tr>
                <tr>

                    <td>Purchase Order</td>
                    <td><span class="badge badge-warning" style="font-size:large">Purchase order and labels are made avaialble for inbound containers  </span></td>
                </tr>
                <tr>

                    <td>Charges</td>
                    <td><span class="badge badge-warning" style="font-size:large">Charges in SO, PO, Consignments must be checked and finalized</span></td>
                </tr>

                <tr>

                    <td>Check Emails </td>
                    <td> <span class="badge badge-warning" style="font-size:large">Check and Reply multiple times each hour. Make record immediately</span></td>
                </tr>
                <tr>

                    <td>Order Status</td>
                    <td><span class="badge badge-warning" style="font-size:large">Update order status accordingly. Each SO or Consignment should match with signed paperworks.</span></td>
                </tr>
                <tr>

                    <td>Warehouse Cargo check</td>
                    <td><span class="badge badge-warning" style="font-size:large">Know when and how each cargo are going. Reduce the transit time of cargo.</span></td>
                </tr>
                <tr>

                    <td>Warehouse site check</td>
                    <td><span class="badge badge-warning" style="font-size:large">Keep yard clean! Seperate and relocate pallets.</span></td>
                </tr>
                <tr>

                    <td>Planning</td>
                    <td><span class="badge badge-warning" style="font-size:large">Knowing what will happen in the week, give plan to staff before the end of the day</span></td>
                </tr>
                <tr>

                    <td>Reporting</td>
                    <td><span class="badge badge-warning" style="font-size:large">Raise issue immedately if having difficulties! Report to manager if it is urgent!</span></td>
                </tr>
            </tbody>
        </table>



    </div>
    <div style="margin-bottom:20px">
        <h2 style="text-align:center " class="alert-warning"> Weekly Check List</h2>
        <table class="table">
            <tbody>
                <tr>

                    <td>Invoices Checking(Each Friday)</td>
                    <td><span class="badge badge-warning" style="font-size:large">Check if any error and check invoice items. Check if last week's invoices have been approved.</span></td>
                </tr>
                <tr>

                    <td>Pending issues(Each Friday)</td>
                    <td> <span class="badge badge-warning" style="font-size:large">Make sure all issues are solved</span></td>
                </tr>
                <tr>

                    <td>Plan for next week (Each Friday)</td>
                    <td> <span class="badge badge-warning" style="font-size:large">Provide brief plan for jobs next week. </span></td>
                </tr>
                <tr>

                    <td>Container sheduling(Each Wednesday)</td>
                    <td><span class="badge badge-warning" style="font-size:large">All cartage jobs in hand should have passed to cartage company to confirm VBS</span></td>
                </tr>
            </tbody>
        </table>



    </div>
</div>