
<div class="container-fluid">
    <div>
        
        <div>
            <h3>Mt wellington YARD   </h3>

            <img src="~/img/monier_site_map.png" style="width:50%;height:auto" />
            <br />
            <br />
            <a class="btn btn-outline-primary" href="~/img/monier_site_map2.png" target="_blank">Open in new tab </a>
        </div>

        <hr />


    </div>
    
    
</div>