@model WebAuslink.Models.DailyToDoList

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DailyToDoList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="today" class="control-label"></label>
                <input asp-for="today" class="form-control" />
                <span asp-validation-for="today" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MorningJob" class="control-label"></label>
                <input asp-for="MorningJob" class="form-control" />
                <span asp-validation-for="MorningJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AfternoonJob" class="control-label"></label>
                <input asp-for="AfternoonJob" class="form-control" />
                <span asp-validation-for="AfternoonJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraWork" class="control-label"></label>
                <input asp-for="ExtraWork" class="form-control" />
                <span asp-validation-for="ExtraWork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

