<div class="container">
    <div>
        <h1 class="thead-dark">General advice    </h1>
        <p> Notify store manager at least 2 days before deliver. </p>
        <p> Delivery to shopping malls might subject to late night restrictions. Check with store manager.  </p>

    </div>

    <hr />  









    <table class="table table-striped">
        <h1 class="thead-dark"> Delivery information    </h1>
        <thead>
            <tr>
                <th scope="col">Store  </th>
                <th scope="col">Manager Name </th>
                <th scope="col">Manager Contact </th>
                <th scope="col">Note</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>West-AKL   Lynnmall  </td>
                <td>Quine    </td>
                <td> 022 091 1493    </td>
                <td></td>
            </tr>
            <tr>
                <td>West-AKL WestCity Henderson  </td>
                <td>  Ma   </td>
                <td>     0212175875   </td>
                <td></td>
            </tr>


            <tr>
                <td>Central-AKL New Market WestField </td>
                <td>  Sherry  </td>
                <td> 0279626230  </td>
                <td>Need booking, normally deliver 6-7pm Wednesday  </td>
            </tr>
            <tr>
                <td>Central-AKL New Market Broadway   </td>
                <td>  Candy  </td>
                <td>  0223540704   </td>
                <td>   </td>
            </tr>
            <tr>
                <td>Central-AKL CBD  </td>
                <td>  Ana  </td>
                <td> 0220275931  </td>
                <td>   </td>
            </tr>
            <tr>
                <td>North-AKL Albany   </td>
                <td> Nina   </td>
                <td> 0275378588  </td>
                <td>   </td>
            </tr>
            <tr>
                <td>North-AKL Glenfield   </td>
                <td>  Claire  </td>
                <td>0272711816   </td>
                <td>   </td>
            </tr>
            <tr>
                <td>North-AKL Takapuna   </td>
                <td>   Steven </td>
                <td>  0212222514 </td>
                <td>   </td>
            </tr>

            <tr>
                <td>East-AKL  Botany  </td>
                <td> Bill   </td>
                <td>  0221767319 </td>
                <td>   </td>
            </tr>
            <tr>
                <td>East-AKL Pakurangka </td>
                <td>   Trancy  </td>
                <td>  0275314211 </td>
                <td>   </td>
            </tr>
            <tr>
                <td>Central-AKL DresSmart </td>
                <td>  Harper </td>
                <td>  0211001845 </td>
                <td>   </td>
            </tr>
            <tr>
                <td> Hamilton- The Base </td>
                <td>  Xiaoqi </td>
                <td>  0225808868 </td>
                <td>   </td>
            </tr>

        </tbody>

    </table>


    

</div>